:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --light_cyan: #f08080;
  --darkred: #c3112d;
  --orange: #ff8c00;
}
* {
  margin: 0;
  color: var(--text_light);
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body {
  font: 1rem/1.3 "Roboto", sans-serif;
  color: var(--bg_main);
  padding: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/163255/sunrise-sun-morgenrot-skies-163255.jpeg?cs=srgb&dl=pexels-pixabay-163255.jpg&fm=jpg');
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* NAVBAR
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  background: var(--text_dark);
  color: var(--text_light);
  padding: 1rem;
  position: relative;
  bottom: 45px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline;
}
li a{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.signup{
    float: right;
}
.login{
    margin-left: 900px;
}


/* SECTION #1
  –––––––––––––––––––––––––––––––––––––––––––––––––– */



